<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751174768859-kedouj14qlos071p13v225o2ajdca4ll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751174768859-kedouj14qlos071p13v225o2ajdca4ll</string>
	<key>API_KEY</key>
	<string>AIzaSyCwSy_tpsTKpkmK3rbbjNpUkr8CHsFpMbM</string>
	<key>GCM_SENDER_ID</key>
	<string>751174768859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ears.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ears-5b7a1</string>
	<key>STORAGE_BUCKET</key>
	<string>ears-5b7a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751174768859:ios:3a952699a06af72b7294fe</string>
</dict>
</plist>